<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @visitum.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @visitum.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @visitum.telefone %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @visitum.comentarios %>
</p>

<%= link_to 'Edit', edit_visitum_path(@visitum) %> |
<%= link_to 'Back', visita_path %>
