<div class="wrap text-center"> 
  <p>
  <h2 class="tema"> <%= @sermao.titulo %> </h2>
  </p>

  <p>
  <strong>Pregador:</strong>
  <%= @sermao.pregador %>
  </p>
  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/428178564&color=%235cc7bf&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <p>
  <strong>Descricao:</strong>
  <%= @sermao.descricao %>
  </p>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_sermao_path(@sermao) %> |
  <%= link_to 'Back', sermaos_path %>
<% end %> 
  
</div> 
