<div class="wrap text-center"> 
  <p>
  <h2 class="tema"> <%= @sermao.titulo %> </h2>
  </p>

  <p>
  <strong>Pregador:</strong>
  <%= @sermao.pregador %>
  </p>
  <audio controls autoplay name="media">
  <source src="/01.mp3" type="audio/mp3">
  </audio>

  <p>
  <strong>Descricao:</strong>
  <%= @sermao.descricao %>
  </p>

  <%= link_to 'Edit', edit_sermao_path(@sermao) %> |
  <%= link_to 'Back', sermaos_path %>
</div> 

