<div class="container">
<div class="wraptext"> 
    <div class="text-left">
        <h1 class="tema">Conheça a nossa liderança</h1>
        <p>Tem alguma questão para a equipa de líderes? Contacte-nos clicando <a class="tema" href="/contacts">aqui</a></p> 
    </div>
</div>
</div>

<div class="container">
<div class="row"> 
    <div class="text-center">
        <h3 class="tema">António António</h3>
        <p>Tem alguma questão para a equipa de líderes? Contacte-nos clicando <a href="/contacts">aqui</a></p> 
        <img src="<%= asset_path("bird.jpg") %>" class="ilideres img-circle" alt="Cinque Terre">
    </div>
</div><div class="row"> 
<div class="text-center">
    <h3 class="tema">António António</h3>
    <p>Tem alguma questão para a equipa de líderes? Contacte-nos clicando <a href="/contacts">aqui</a></p> 
    <img src="<%= asset_path("bird.jpg") %>" class="ilideres img-circle" alt="Cinque Terre">
</div>
</div><div class="row"> 
<div class="text-center">
    <h3 class="tema">António António</h3>
    <p>Tem alguma questão para a equipa de líderes? Contacte-nos clicando <a href="/contacts">aqui</a></p> 
    <img src="<%= asset_path("bird.jpg") %>" class="ilideres img-circle" alt="Cinque Terre">
</div>
</div><div class="row"> 
<div class="text-center">
    <h3 class="tema">António António</h3>
    <p>Tem alguma questão para a equipa de líderes? Contacte-nos clicando <a href="/contacts">aqui</a></p> 
    <img src="<%= asset_path("bird.jpg") %>" class="ilideres img-circle" alt="Cinque Terre">
</div>
</div><div class="row"> 
<div class="text-center">
    <h3 class="tema">António António</h3>
    <p>Tem alguma questão para a equipa de líderes? Contacte-nos clicando <a href="/contacts">aqui</a></p> 
    <img src="<%= asset_path("bird.jpg") %>" class="ilideres img-circle" alt="Cinque Terre">
</div>
</div>
</div>