<div class="image-set">
      <a class="example-image-link" href="<%= image_path('IMG.jpg')%>" data-lightbox="roadtrip" data-title="Click the right half of the image to move forward."><img class="example-image" src="<%= image_path('IMG.jpg')%>" alt=""/></a>
      <a class="example-image-link" href="<%= image_path('IMG.jpg')%>" data-lightbox="roadtrip" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="<%= image_path('IMG.jpg')%>" alt="" /></a>
      <a class="example-image-link" href="<%= image_path('IMG.jpg')%>" data-lightbox="roadtrip" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="<%= image_path('IMG.jpg')%>" alt="" /></a>
      <a class="example-image-link" href="<%= image_path('IMG.jpg')%>" data-lightbox="roadtrip" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="<%= image_path('IMG.jpg')%>" alt="" /></a>
</div>